
body {
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #ffff;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    text-align: center;
    font-size: 42px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

h2 {
    font-size: 30px;
    color: #0D0D0D
    
}

p {
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}

img 
{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-width: 10px;
}

div
{
    min-height: 200px;
    padding: 20px;             
    border: 3px solid white;
}

.introduction 
{
border-radius: 15px;
margin-top: 15px;
line-height: 2;
}

.red
{
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-bottom-width: 2px;
    border-left-width: 5px;  
}

.blue
{
    background-color: #00ff;
    text-align: left;
    margin-right: 50px;
    border-top-width: 2px;
    border-right-width: 5px; 
}
.blue h2, .blue p
    {
        color: #C4C4C4
    }

.yellow
{
    background-color: #ff0;
    text-align: right;
    margin-left: 50px;
    border-bottom-width: 2px;
    border-left-width: 5px;
}
.yellow p
    {
        color: #707070
    }

.green
{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right-width: 5px;
    border-top-width: 2px;
}

footer
{
    border: solid;
    border-color: #ffff;
    border-width: 5px;
    text-align: right;
    font-size: 20px;
}

 footer p 
    {
        text-align: right;
        font-size: 20px;
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 0;
    }