p
{
    padding-top: 15px;
}

a {
  font-size: 16px;
  color: #B21F50;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

:focus
{
    outline: none;
    border: 6px dashed #417243;
}

h1
{
    text-align: center;
    line-height: 2;
    font-family: "Syncopate", sans-serif;
}

body
{
  background-image: url("../images/pigeon-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #DDDDDD;
}

th,
td {
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #000; /* bottom only */
}


/* borders */
thead th:last-child,
tbody td:last-child {
  border-right: 2px solid #000;
}

thead th {
  min-width: 125px;
  text-transform: uppercase;
  color: white;
  background-color: #B21F50;
  border: none
}

tbody th {
  background-color: transparent;
  text-transform: none;

  border-top: none;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

tbody tr:hover td,
tbody tr:hover th {
  background-color: rgba(126, 8, 32, 0.25);
}

tbody tr:nth-child(even) {
  background-color: #D1D1D1;
}
tbody tr:nth-child(odd) {
  background-color: transparent;
}

table {
  border-spacing: 0;
  margin: 0 auto;
}


/* rounded corners */
thead tr:first-child th:first-child {
  border-top-left-radius: 20px;
}

thead tr:first-child th:last-child {
  border-top-right-radius: 20px;
}

tbody tr:last-child th:first-child {
  border-bottom-left-radius: 20px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}
